html, body, div {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  border: 10px solid tomato;
  font: bold 4rem/7 brown;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  border: 10px solid darkgreen;
  background-color: lightgreen;

  transition-property: background-color;
  transition-delay: 100ms;
  transition-timing-function: ease;
  transition-duration: 1500ms;
}

div:hover {
  background-color: green;
}
