li:first-child { background: yellow; }
li:last-child { background: gray; }
li:nth-child(even) { font-size:15px; }
li:nth-child(odd) { font-size:25px; }
li:nth-child(5) { color: pink; }
li:nth-child(3n+1) { color: orange; }
ul:only-child { font-style: italic; }
