html, body, header, article, div, footer {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

article {
  height: auto;
  border: 8px solid darkgreen;
  display: flex;
}

header {
  height: 150px;
  border: 8px solid blue;
  background-color: gold;
}

div {
  height: 200px;
  border: 5px solid black;
}

footer {
  height: 150px;
  border: 8px solid red;
  background-color: indigo;
}

#left {
  width: 20%;
  background-color: lightblue;
}

#right {
  width: 80%;
  background-color: forestgreen;
}
