html, body, div {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  border: 3px solid red;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

div {
  width: 200px;
  height: 100px;
  margin: 10px;
  font: bold 25px/3 sans-serif;
  border: 1px solid black;
  background-color: tomato;
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#except {
  flex-grow: 2;
}
